:root {
  --primary-dark: #262626;
  --secondary-dark: #404040;
  --primary-light: #e5e5e5;
  --secondary-light: #a3a3a3;
  --blue-dark: #164e63;
  --blue-light: #0e7490;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 1rem;
  /* box-sizing: border-box; */
}

body {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

header {
  background-color: var(--primary-dark);
}

li {
  list-style: none;
}

a {
  color: var(--primary-light);
  text-decoration: none;
}

.navbar {
  min-height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
}

.nav-branding {
  font-size: 2rem;
}

/* hover effect */
.nav-link {
  transition: 0.7s ease;
}

.nav-link:hover {
  color: var(--blue-light);
}

/* hamburger menu */
.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: var(--primary-light);
}

/* media query to display hamburger */
@media(max-width: 768px) {
  .hamburger {
    display: block;
  }
  /* makes middle bar of hamburger disappear when active */
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  /* rotates top and bottom to make the x */
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .nav-menu {
    position: fixed;
    left: -100%;
    top: 70px;
    gap: 0;
    flex-direction: column;
    background-color: var(--primary-dark);
    width: 100%;
    text-align: center;
    transition: 0.3s;
  }
  
  .nav-item {
    margin: 16px 0;
  }

  .nav-menu.active {
    left: 0;
  }
}

.carousel {
  align-items: center;
  display: flex;
  margin: 2rem auto;
  overflow: hidden;
  /* on both y and x axis */
  position: relative;
  /* to help position buttons */
  width: 300px;
}

.carouselImg {
  display: flex;
  transform: translateX(0);
  /* moves it left (x-axis) */
  transition: transform 0.25s;
  /* moves it at a certain speed */
}

img {
  border-radius: 10px;
  min-width: 300px;
  min-height: 300px;
  max-width: 200px;
  max-height: 200px;
}

#pic1 {
  border: 5px solid red;
}

#pic2 {
  border: 5px solid orange;
}
#pic3 {
  border: 5px solid green;
}
#pic4 {
  border: 5px solid blue;
}
#pic5 {
  border: 5px solid purple;
}

.carouselBtn {
  background: teal;
  border: 0;
  border-radius: 50%;
  color: white;
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: bold;
  height: 3rem;
  width: 3rem;
  opacity: 0.25;
  position: absolute;
  transition: opacity 0.25s;
  z-index: 1;
  /* so they are always on top of the image */
}

#previousBtn {
  left: 5px;
}

#nextBtn {
  right: 5px;
}

.carouselBtn:hover {
  opacity: 0.5;
  /* boosts opacity on hover */
}

footer {
  background-color: var(--primary-dark);
  color: var(--primary-light);
  font-size: 1.5rem;
  padding: 10px;
  text-align: center;
}